.ul {
  background-color: gray;
}

.ul li{
  display: inline-flex;
  margin-left: 8%;
  padding: 5px;
}

.side-bar{
  margin-top: 20px;
  background-color:rgba(6, 94, 21, 0.911);
  width: 250px;
  height: 465px;
}

.side-bar li{
  padding: 5px;
  font-size: large;
  color: rgb(255, 255, 255);
  list-style: none;
}

@media (max-width: 500px) {
  .ul img{
    width: 100px;
    height: 100px;
  }
  .ul li{
    height: 100px;
    width: 40px;
  }
  .ul Button{
    width: 80px;
  }
}